.upload-metadata input {
    margin: 0.75rem 0;
    background-color: white;
    border: black 0.1rem solid;
    border-radius: 0.25rem;
    color: #24a0ed;
    padding: 0.2rem 0.5rem;
}

.upload-metadata select {
    margin: 0.75rem 0;
    padding: 0.2rem 0.5rem;
    border: black 0.1rem solid;
    border-radius: 0.25rem;
    /* color: #24a0ed; */
}