.upload-metadata input,
.upload-metadata select {
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    padding: 0.2rem 0.5rem;
    border: lightgrey 1px solid;
    color: black;
}

.upload-metadata input::placeholder {
    color: black;
}


.driver-option {
    color: #24a0ed;
}

.disabled-upload-button,
.upload-button {
    background-color: #24a0ed;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 9rem;
}

.upload-button:hover {
    animation: fadeIn 0.5s;
    opacity: 0.75;
}