# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static and media files
static/
media/

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.cache/

# IDEs and editors
.idea/
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# Jupyter Notebook
.ipynb_checkpoints

.env
fsae_backend/fsae_backend_app/firebase/serviceAccountKey.json
**/csv/
**/ld/