@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.75;
    }

}

@layer base {
    .wrapper {
        display: flex;
        width: 100%;
    }

    .page-content-main {
        width: 100%;
        margin-left: 16rem;
    }

    .page-content-body{
        @apply w-full p-8 max-w-7xl mx-auto;
    }

    h1 {
        /* font-family: "Geist Mono", monospace;
        font-size: 48px; */
        @apply mb-6 text-2xl font-semibold;
    }

    select, input{
        @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
    }

}